<div class="col s10 m10">
  <div class="content-container">

    <section class="card-panel grey lighten-5">
      <h5>Apply to become a coach</h5>
      <div class="divider"></div>
      <div class="row">
        <div class="col l10 m10 s12">
          <p class="grey-text text-darken-3">This part of the application is currently still under
            construction. In order to become a coach please send an email to your administrator with
            the following information:
          </p>

          <div class="row right-align">
            <button class="waves-effect waves-light yellow darken-2 btn-large black-text" type="button" (click)="apply()">Become a coach<i
              class="material-icons right">send</i></button>

          </div>
        </div>
      </div>
    </section>

  </div>
</div>
