<div class="col s10 m10">
  <div class="content-container">

    <section class="card-panel grey lighten-5">
      <h5>Apply to become a coach</h5>
      <div class="divider"></div>
      <div class="row">
        <div class="col l10 m10 s10">
          <p class="grey-text text-darken-3">By becoming a coach you will be visible in the "find a coach" section of our website
            and other users will be able to requests sessions with you. When you are a coach, you get access to a new coach profile
            in which you can add the topics you can teach.
          </p>

          <div class="row right-align">
            <button class="waves-effect waves-light yellow darken-2 btn-large black-text" type="button" (click)="apply()">Become a coach<i
              class="material-icons right">send</i></button>

          </div>
        </div>
      </div>
    </section>

  </div>
</div>
