
<div class="row">

  <div class="col s2 m2">
    <div class="content-container">
      <h6>My Profile</h6>
      <div class="collection">
        <a href="#!" class="collection-item grey-text text-darken-2">Profile Information</a>
        <a href="#!" class="collection-item grey-text text-darken-2">Coaching sessions</a>
        <a routerLink="become-a-coach" class="collection-item black-text active yellow darken-2">Apply to become a coach</a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
