<main>
  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3">Register</h1>
        <div class="content-container-with-padding z-depth-4">

          <div class="row">
            <form class="col s12" [formGroup]="registerUserForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate" [className]="firstName.pristine ? 'validate' : firstName.valid ? 'valid' : 'invalid'" formControlName="firstName">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate" [className]="lastName.pristine ? 'validate' : lastName.valid ? 'valid' : 'invalid'" formControlName="lastName">
                  <label for="last_name">Last Name</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="team" type="text" class="validate" [className]="team.pristine ? 'validate' : team.valid ? 'valid' : 'invalid'" formControlName="team">
                  <label for="team">Team</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" [className]="email.pristine ? 'validate' : email.valid ? 'valid' : 'invalid'" formControlName="email">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" [className]="password.pristine ? 'validate' : password.valid ? 'valid' : 'invalid'" formControlName="password">
                  <label for="password">Password (Your password must contain 8 characters, 1 uppercase, 1 lowercase and 1 special character)</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="passwordVerification" type="password" class="validate" [className]="repeat_password.pristine ? 'validate' : !registerUserForm.errors?.['notMatchingPassword'] ? 'valid' : 'invalid'" formControlName="repeat_password">
                  <label for="passwordVerification">Password (again)</label>
                </div>
              </div>


              <div class="row right-align">
                <button class="waves-effect waves-light yellow darken-2 btn-large black-text"
                        [disabled]="!registerUserForm.valid">Register<i class="material-icons right">send</i></button>
              </div>

              <div class="row right-align"
                   *ngIf="(firstName.errors?.['minlength' ] || firstName.errors?.['required'])  && !firstName.pristine">
                <p class="invalid-message">Your <strong>first name</strong> must be at least 2 characters long.</p>
              </div>
              <div class="row right-align"
                   *ngIf="(lastName.errors?.['minlength' ] || lastName.errors?.['required'])  && !lastName.pristine">
                <p class="invalid-message">Your <strong>last name</strong> must be at least 2 characters long.</p>
              </div>
              <div class="row right-align"
                   *ngIf="(team.errors?.['minlength' ])  && !team.pristine">
                <p class="invalid-message">Your <strong>team</strong> must be at least 2 characters long.</p>
              </div>
              <div class="row right-align"
                   *ngIf="(email.errors?.['minlength' ] || email.errors?.['required'] || email.errors?.['pattern'])   && !email.pristine">
                <p class="invalid-message">Please enter a valid <strong>email</strong>.</p>
              </div>
              <div class="row right-align"
                   *ngIf="(email.errors?.['uniqueUserEmail']) && !email.pristine">
                <p class="invalid-message">This <strong>email address</strong> is already used.</p>
              </div>
              <div class="row right-align"
                   *ngIf="(password.errors?.['minlength' ] || password.errors?.['required'] || password.errors?.['pattern']) && !password.pristine">
                <p class="invalid-message">Your <strong>password</strong> must contain 8 characters, 1 uppercase, 1
                  lowercase and 1 special character.</p>
              </div>
              <div class="row right-align"
                   *ngIf="(repeat_password.errors?.['required'] || registerUserForm.errors?.['notMatchingPassword']) && !repeat_password.pristine">
                <p class="invalid-message">Your <strong>password</strong> doesn't match.</p>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>
