<footer class="page-footer yellow darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">CodeCoach</h5>
        <p class="grey-text text-darken-3">CodeCoach is a peer to peer coaching program between professional programmers</p>


      </div>
      <div class="col l3 s12">
        <h5 class="black-text">Navigation</h5>
        <ul>
          <ng-container *ngIf="loggedInUser$ | async; else notLoggedIn">
          </ng-container>
          <li><a class="grey-text text-darken-3" routerLink="/"><i class="tiny material-icons">chevron_right</i>Home</a>
          </li>
          <ng-template #notLoggedIn>
            <li><a class="grey-text text-darken-3" routerLink="/signin"><i class="tiny material-icons">chevron_right</i>Sign
              in</a></li>
            <li><a class="grey-text text-darken-3" routerLink="/register"><i class="tiny material-icons">chevron_right</i>Register</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
      Web application proudly created by <a class="grey-text text-darken-2" href="https://switchfully.com">Switchfully</a>
      students.
    </div>
  </div>
</footer>
