<main>

  <div class="row" *ngIf="!editMode">

    <div class="col s12 m2">
      <div class="content-container">
        <h6>My Profile</h6>
        <div class="collection">
          <a  class="collection-item black-text active yellow darken-2">Profile Information</a>
          <a  class="collection-item grey-text text-darken-2" routerLink="/profile/coach/sessions">Coaching sessions</a>
          <a  class="collection-item grey-text text-darken-2">Apply to become a coach</a>
        </div>
      </div>
    </div>

    <div class="col s12 m10">
      <div class="content-container" *ngIf="user$ | async as user">

        <section class="card-panel grey lighten-5">
          <div class="right">
            <a class="waves-effect waves-light btn-large btn-floating yellow darken-2"
               (click)="passTheUser(user$)"><i
              class="material-icons left">edit</i>Edit</a>
          </div>
          <h5>Profile Information</h5>
          <div class="divider"></div>
          <div class="row">
            <div class="col l2 m2 s12">
              <img src="assets/images/profile-pictures/{{user.profilePicture}}" class="responsive-img circle"
                   alt="Profile Picture">
            </div>
            <div class="col l10 m12 s12">
              <table class="highlight">
                <tbody>
                <tr>
                  <td><strong>First name</strong></td>
                  <td>{{user.firstName}}</td>
                </tr>
                <tr>
                  <td><strong>Last name</strong></td>
                  <td>{{user.lastName}}</td>
                </tr>
                <tr>
                  <td><strong>Email</strong></td>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <td><strong>Team</strong></td>
                  <td>{{user.team}}</td>
                </tr>
                <tr>
                  <td><strong>CodeCoach role</strong></td>
                  <td [innerText]="user.isCoach ? 'coach' : 'coachee'" ></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

  <app-edit-my-profile *ngIf="editMode" [user$]="user$"></app-edit-my-profile>
</main>
