

  <div class="col s12 m2">
    <div class="content-container">
      <h6>My Profile</h6>
      <div class="collection" *ngIf="user">
        <a class="collection-item black-text active yellow darken-2" routerLink="/my-profile">Profile Information</a>
        <a  class="collection-item grey-text text-darken-2" routerLink="/profile/coach/sessions">Coaching sessions</a>
        <a *ngIf="!user.isCoach" routerLink="become-a-coach" class="collection-item black-text yellow darken-2">Apply to become a coach</a>
      </div>
    </div>
  </div>


